apiVersion: 1
datasources:
  - name: Stripe
    uid: stripe
    type: yesoreyeram-infinity-datasource
    access: proxy
    isDefault: false
    editable: true
    jsonData:
      httpHeaderName1: Authorization
    secureJsonData:
      httpHeaderValue1: "Bearer ${STRIPE_API_KEY}"